.characters {
  padding: 2em;
  border-bottom: 1px solid;
}

.characters ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.characters button {
  width: 100%;
}
